/**
 * /assets/scss/partials/layouts/blog.scss
 *
 * Let's define our blog styles
 *
 * - Archive
 * - Loop Item
 * - Single
 *
 */

/* ----- Archive -------------------- */
.blog {

     .content {
          margin-bottom: 50px;
     }
}

/* ----- Loop Item -------------------- */
.loop-wrapper {
     display: grid;
     flex-wrap: wrap;
     column-gap: $base-margin;
     row-gap: $base-margin;
     grid-template-columns: repeat( 3, 1fr );
     width: 100%;

     @include media( 'tablet' ) {
          grid-template-columns: repeat( 2, 1fr );
     }

     @include media( 'mobile' ) {
          grid-template-columns: 1fr;
     }

     @include media( 'tablet+' ) {
          .post-count-2 & {
               grid-template-columns: repeat( 2, 1fr );
          }
     }
}

.loop-item {
     background-color: $white;

     &__thumbnail {
          display: block;
          width: 100%;

          img {
               display: block;
               width: 100%;
          }
     }

     &__content {
          display: block;
          width: 100%;
          padding: $base-margin;
     }

     &__title {
          font-size: 21px;
          margin-bottom: 16px;

          a {
               color: $blue;
               text-decoration: underline;
          }

          &:hover > a {
               color: $base-color;
               text-decoration: underline;
          }
     }

     &__excerpt {

          p {

               &:last-child {
                    margin-bottom: 0;
               }
          }
     }
}

/* ----- Single -------------------- */
.single {

     .site-inner {

          > .wrap {
               max-width: $base-content-width;
          }

          .content {
               padding: 50px 0;
          }
     }
}
