/**
 * /assets/scss/partials/layouts/interiors.scss
 *
 * Let's define our interior wrapper styles
 *
 * - Universal
 * - Sidebars
 * - Page hero
 *
 */

/* ----- Universal -------------------- */
.site-inner {
     width: 100%;
     overflow: hidden;
     @include spacing( 'both', 'no-vertical' );

     .content {
          display: flex;
          flex-wrap: wrap;
          padding: 0;
          width: 100%;

          > article {
               width: 100%;
          }
     }
}

.wrap {
     width: 100%;
     max-width: $base-width;
     margin: 0 auto;
}

@include media( 'mobile' ) {

     html #wpadminbar {
          position: fixed;
     }
}

.page {

     .entry-header:not(.entry-header--with-thumbnail) {
          margin: 50px 0;

          h1.entry-title {
               color: $blue;
          }
     }

     &.thin-layout .site-inner > .wrap {
          max-width: $base-content-width;
     }
}

/* ----- Sidebars -------------------- */
.content-sidebar,
.sidebar-content {

     .site-inner {

          .wrap {
               display: flex;
               align-items: flex-start;
               flex-wrap: wrap;
               justify-content: space-between;

               .content {
                    width: $base-content-width;

                    .alignfull,
                    .alignwide {
                         max-width: 100%;
                         margin-left: 0;
                         margin-right: 0;
                    }
               }

               .sidebar {
                    padding: 75px 0;
                    flex: 1;
                    padding-left: 50px;
               }
          }
     }
}

/* ----- Page Hero -------------------- */
.entry-header--with-thumbnail {
     display: flex;
     width: 100%;
     min-height: 300px;
     position: relative;
     margin-bottom: 50px;
     @include spacing( 'horizontal', null );

     @include media( 'tablet' ) {
          min-height: 260px;
          margin-bottom: 30px;
     }

     @include media( 'mobile' ) {
          min-height: 200px;
     }

     .remove-header-margin & {
          margin-bottom: 0;
     }

     .entry-header__thumbnail {
          display: block;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;

          img {
               width: 100%;
               height: 100%;
               object-fit: cover;
          }
     }

     .wrap {
          position: relative;
          display: flex;
          align-items: flex-end;
     }

     h1.entry-title {
          color: $white;
          text-shadow: 0 4px 4px rgba(0,0,0,0.25);
          margin: 30px 0;

          @include media( 'mobile' ) {
               width: 100%;
               text-align: center;
          }
     }
}
