/**
 * /assets/scss/partials/layouts/navigation.scss
 *
 * Let's define our navigation styles
 *
 * - Primary Navigation
 * - Mobile Navigation Icon
 *
 */

/* ----- Primary Navigation -------------------- */
.nav-primary ul.menu,
.top-menu ul.top-menu__menu {
     display: flex;
     flex-wrap: wrap;

	.menu-item {
		list-style: none;
          position: relative;

		a {
			border: none;
			color: $base-color;
			display: block;
			font-size: 18px;
               font-weight: 600;
			padding: 15px 25px;;
			position: relative;
		}

		&:hover > a,
		&.current-menu-item > a,
		&.current-menu-ancestor > a {
			color: $primary-color;
               text-decoration: none;
		}

          button:not(.menu-search) {
               background: transparent;
               border: none;
               border-radius: 0;
               box-shadow: none;
               padding: 0;
               outline: none;
               cursor: pointer;
               position: absolute;
               line-height: 0;
               right: 7px;
               top: 4px;
               width: 48px;
               height: 48px;
               display: flex;
               justify-content: center;
               align-items: center;

               img {
                    width: 20px;
                    height: 20px;
               }

               @include media( 'menu+' ) {
                    display: none;
               }
          }

          &.menu-button {

               a {

                    span {
                         background-color: $red-light;
                         color: $white;
                         padding: 10px 35px;
                         border-radius: 10px;
                         @extend %transition;

                         &:hover,
                         &:focus {
                              background: $red;
                              color: $white;
                              text-decoration: none;
                         }
                    }
               }
          }

          &.open {

               > .sub-menu {
                    display: block;
               }

               > button {
                    transform: rotate(180deg);
               }
          }

          ul.sub-menu {
               background: $white;
               left: -9999px;
               opacity: 0;
               border-radius: 10px;
               box-shadow: 0 5px 10px rgba(0,0,0,0.15);
               padding: 10px 0;
               position: absolute;
               width: auto;
               min-width: 200px;
               z-index: 99;
               @extend %transition;

               &::before {
                    content: "";
                    border-bottom: 10px solid $white;
                    border-right: 10px solid transparent;
                    border-left: 10px solid transparent;
                    position: absolute;
                    top: -10px;
                    left: 35px;
               }

               .menu-item {
                    width: 100%;
                    display: block;
                    clear: both;
                    border-top: none !important;
               }

               a {
                    width: 100%;
                    background: transparent;
                    color: $base-color;
                    padding: 12px 60px 12px 35px;
                    position: relative;
                    white-space: nowrap;
                    font-size: 16px;
               }

               .menu-item:hover > a,
               .current-menu-item > a {
                    color: $white;
                    background-color: #979797
               }

               .sub-menu {
                    margin: -54px 0 0 199px;
               }
          }
	}
}

.nav-primary {
     background-color: $blue;

     @include media( 'menu+' ) {
          display: block !important;
     }

     @include media( 'menu' ) {
          display: none;
          background-color: $white;
          padding: 10px 0 20px 0;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
     }

     .wrap {
          max-width: 100%;
          width: 100%;
          margin: 0;
          display: flex;
          justify-content: center;
     }

     ul.menu {
          width: 100%;
          justify-content: center;

          li.menu-item {

               &:hover > a {
                    color: #83c4f8;
               }

               a {
                    color: $white;

                    &:hover,
                    &:focus {
                         color: #83c4f8;
                    }

                    &:visited {
                         color: $white;
                    }

                    @include media( 'menu' ) {
                         color: $base-color;

                         &:visited {
                              color: $blue;
                         }
                    }
               }

               @include media( 'menu' ) {
                    &.menu-item-has-children > a {
                         padding-right: 34px;
                    }
               }

               &.menu-item--search {
                    padding: 15px;
                    display: flex;
                    align-items: center;

                    @include media( 'menu' ) {
                         display: none;
                    }

                    button {
                         background-color: transparent;
                         border: none;
                         display: flex;
                         align-items: center;

                         svg {
                              fill: $white;
                              width: 20px;
                              height: 20px;
                              @extend %transition;

                              &:hover {
                                   fill: #83c4f8;
                                   cursor: pointer;
                              }
                         }
                    }
               }

               @include media( 'menu+' ) {
                    &:hover {

                         & > .sub-menu {
                              left: auto;
                              opacity: 1;
                         }
                    }
               }

               @include media( 'menu' ) {
                    width: 100%;

                    &:not(.menu-button) {
                         border-top: 1px solid $blue-light;

                         &:first-child {
                              border-top: none;
                         }
                    }

                    &.menu-button {
                         margin-top: 30px;
                    }
               }

               @include media( 'menu' ) {

                    ul.sub-menu {
                         left: auto;
                         opacity: 1;
                         position: relative;
                         width: 100%;
                         border-radius: 0;
                         box-shadow: none;
                         padding: 0;
                         background-color: $blue-light;
                         display: none;

                         &::before {
                              display: none;
                         }

                         a {
                              padding: 15px 25px;
                         }
                    }
               }
          }
     }
}

.top-menu {

     ul.top-menu__menu {
          width: 100%;
          justify-content: center;

          li.menu-item {

               &:hover {

                    & > .sub-menu {
                         left: auto;
                         opacity: 1;
                    }
               }
          }
     }

     @include media( 'menu' ) {
          width: 100%;
          background-color: $blue;
          display: flex;
          justify-content: center;

          ul.top-menu__menu {

               li.menu-item {

                    &:hover > a {
                         color: #83c4f8;
                    }

                    a {
                         color: $white;

                         &:hover,
                         &:focus {
                              color: #83c4f8;
                         }

                         &:visited {
                              color: $white;
                         }
                    }
               }
          }
     }

     @include media( 'mobile' ) {

          ul.top-menu__menu {

               li.menu-item {

                    a {
                         padding: 15px;
                         font-size: 16px;
                    }

                    &.menu-button a span {
                         padding: 10px 25px;
                    }
               }
          }
     }
}

/* ----- Mobile Nav Icon -------------------- */
.mobile-navigation-icon {
     display: none;
     position: absolute;
     top: 36px;
     right: 30px;
     width: 32px;
     height: 24px;
     cursor: pointer;

     @extend %transition;

     span {
          width: 32px;
          height: 3px;
          background-color: $grey-dark;
          border-radius: 10px;
          position: absolute;
          top: 0;

          @extend %transition;

          &:nth-child(1) {

          }
          &:nth-child(2) {
               top: 10px;
          }
          &:nth-child(3) {
               top: 20px;
          }
     }

     &.open span {

          &:nth-child(1) {
               transform: rotate(45deg);
               top: 10px;
               width: 33.94px;
               left: 0;
          }
          &:nth-child(2) {
               opacity: 0;
          }
          &:nth-child(3) {
               transform: rotate(-45deg);
               top: 10px;
               width: 33.94px;
               left: 0;
          }
     }

     @include media( 'menu' ) {
          display: block;
     }
}
