/**
 * /assets/scss/partials/layouts/search.scss
 *
 * Let's define our search styles
 *
 *
 */

.search {

     .site-inner {

          > .wrap {
               max-width: $base-content-width;
          }

          .content {
               padding: 50px 0;
          }
     }

     .search-results-found {
          margin-bottom: 50px;
          display: block;
          width: 100%;
     }

     .search-loop-item {
          margin-bottom: 30px;

          a.readmore {
               margin-top: 10px;
               display: block;
          }
     }
}
