/**
 * /assets/scss/partials/blocks/core/blocks-core-cover.scss
 *
 * Let's define our core cover styles
 *
 *
 */

 /* ----- Core Block Cover -------------------- */
.wp-block-cover {
     @include spacing( 'both', null );

     @include media( 'mobile' ) {
          padding: $v-spacing-tablet $h-spacing-mobile;
     }

     &__inner-container {
          max-width: $base-width;
          margin: 0 auto;
     }

     &.is-style-stack-mobile {

          @include media( 'mobile' ) {
               min-height: 0 !important;
               padding: 0;
               flex-wrap: wrap;

               img.wp-block-cover__image-background {
                    position: relative;
                    top: auto;
                    left: auto;
                    right: auto;
                    bottom: auto;
                    height: auto;
                    object-fit: none;
               }

               .wp-block-cover__inner-container {
                    margin: 20px 0 !important;

                    .wp-block-button {
                         margin: 0 !important;
                    }
               }
          }
     }
}
