/**
 * /assets/scss/partials/blocks/acf/blocks-slideshow.scss
 *
 * Let's define our slideshow block styles
 *
 *
 */

.slideshow-block {
     position: relative;

     &__slides {
          width: 100%;
          height: 660px;

          .flickity-viewport {
               height: 100% !important;
          }

          @include media( 'tablet' ) {
               height: 560px;
          }

          @include media( 'mobile' ) {
               height: 460px;
          }
     }

     &__slide {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 50px $base-margin;
          @extend %transition;

          &.content-top {
               align-items: flex-start;
          }

          &.content-bottom {
               align-items: flex-end;
          }

          &.yes-overlay {

               &::before {
                    content: "";
                    background: rgb(0,0,0);
                    background: linear-gradient(90deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    @include media( 'tablet' ) {
                         background: linear-gradient(90deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%);
                    }
               }
          }
     }

     &__image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          img {
               display: block;
               width: 100%;
               height: 100%;
               object-fit: cover;
               object-position: right center;
          }
     }

     &__content {
          position: relative;
          width: 100%;
          max-width: $base-width;
          margin: 0 auto;
          z-index: 2;

          &-inner {
               max-width: 450px;
          }

          h2 {
               @include font-sizes( 60px, 50px, 40px );
          }

          h3 {
               @include font-sizes( 40px, 40px, 30px );
          }

          h4 {
               @include font-sizes( 30px, 30px, 24px );
          }
     }

     &__primary-header,
     &__secondary-header {
          color: $white;
          margin-bottom: 20px;
     }

     &__button .wp-block-button__link {
          font-size: 16px !important;
     }

     .flickity-prev-next-button {

          &[disabled] {
               cursor: not-allowed;
               opacity: 0.5;
          }

          svg {
               width: 18px;
               left: 6px;
          }

          .arrow {
               fill: $blue;
          }

          &.previous {
               left: 20px;
          }

          &.next {
               right: 20px;
          }

          @media(max-width:850px) {
               display: none;
          }
     }

     @media(max-width:850px) {

          .flickity-page-dots {
               display: none !important;
          }
     }
}
