/**
 * /assets/scss/partials/blocks/blocks-team.scss
 *
 * Let's define our team block styles
 *
 *
 */

.team-block {
     position: relative;

     &__interior {
          display: grid;
          flex-wrap: wrap;
          column-gap: 60px;
          row-gap: 60px;
          grid-template-columns: repeat( 3, 1fr );
          width: 100%;

          @include media( 'tablet' ) {
               grid-template-columns: repeat( 2, 1fr );
          }

          @include media( 'mobile' ) {
               grid-template-columns: 1fr;
          }

          @include media( 'tablet+' ) {
               .post-count-2 & {
                    grid-template-columns: repeat( 2, 1fr );
               }
          }
     }

     &__item {

     }

     &__headshot {
          position: relative;
          display: flex;
          justify-content: center;

          img {
               display: block;
               width: auto;
          }
     }

     &__name {
          display: block;
          width: 100%;
          margin: 20px 0 5px;
          font-weight: 600;
          text-align: center;
     }

     &__position {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 16px;
          line-height: 20px;
     }

     &__link {
          display: block;
          width: 100%;
          margin-top: 15px;
          text-align: center;

          a {
               font-size: 16px;
               color: $red;
          }
     }

     &__social {
          display: block;
          width: 100%;
          margin-top: 10px;

          &-item {
               margin-right: 5px;

               &:last-child {
                    margin-right: 0;
               }
          }
     }
}
